
<div class="main">
  <header>
    <a href="#" id="logo">
      <img src="assets/images/vsomm.jpg">
    </a>
    <h1 class="title">
      Virtual Somm
    </h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Section Two</a></li>
        <li><a href="#">Section Three</a></li>
      </ul>
    </nav>
  </header>
  
  <section id="aroma-flavor">
    <h3>Aroma Flavor</h3>
    <div class="content">
      Fruit Generic Descriptor
    </div>
    <div class="content">
      <ul>
        <li>Black Fruit</li>
        <li>Blue Fruit</li>
      </ul>
    </div>
    <div class="content">
      Selection
    </div>
  </section>

  <section id="structure">
    <h3>Structure</h3>
  </section>

  <section id="structure">
    <h3>Conclusion</h3>
  </section>
</div>
  
  <footer>
    <p>VSomm - Tasting Guidelines</p>
  </footer>


<router-outlet></router-outlet>