
body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-areas:
        "main"
        "footer"
}

a {
    text-decoration: none;
    color: #fff;
}

ul { 
    list-style: none;
    float: left;
}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    padding: 15px;

}


header {
    background-color: #414141;

    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

#logo {
    padding: 15px;
    margin-left: 15px;
    display: inline-block;


}

#logo img {
    border-radius: 50%;
    width: 140px;
    height: 200px;
}

section {
    background-color: lightgray;
    padding: 2em;
    border-bottom: 5px solid #414141;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 2;
}

section .content {
    grid-row: 2;
}

section .content li {
    padding: 5px;
}

.main {
    grid-area: main
    
}


footer {
    grid-area: footer;
    background-color: #414141;
    color: #fff;
    padding: 5px;
}
